*{
    padding: 0;
    margin: 0;
    text-decoration: none;

}
.index{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background: rgb(18,6,181);
    background: radial-gradient(circle, rgba(18,6,181,1) 0%, rgba(252,8,8,1) 32%, rgba(126,6,200,1) 67%, rgba(0,0,0,1) 100%);
    border-bottom: 5px solid black;

}
.logo{
    width: 30%;
    color: white;
    font-size: 30px;
    letter-spacing: 0.5px;
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
}
nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    text-shadow: 40%;
}
nav ul li a:hover{
    color: red;
    transition: 0.5s;
}
.btn{
    background-color: white;
    color: red;
    border: 2px solid red;
    font-weight: bold;
    padding: 5px 15px;
    border-radius:30px;
    transition: 0.5s ;

}
.btn:hover{
    transform: scale(1.2);
    border: 2px solid red;
    background-color: transparent;
}
.image{
    width: 75%;
    height: 75%;
    position: absolute;
    bottom: 0;
    right: 75px;
    transform: translateY(180deg)

}
.image img{
    height: 100%;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 10%;
    transform: translateX(20%)
}
.content{
    position: absolute;
    flex-wrap: wrap;
    top: 60%;
    left: 10%;
    transform: translateY(-50%)

}
.about{
    width: 100%;
    padding: 100px 0;
    background-image: url(background.jpg);
}
.about-me{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-me img{
    height: auto;
    width: 430px;
    border-radius: 10px;
    border:  2px solid red;
}
.about-text{
    width: 550px;
}
.about-text h2{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 5px solid blue;
}
.about-text h5{
    color: black;
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.Text1{
    padding-top: 10px;
}
.Text2{
    padding-top: 20px;
}

@media only screen and (max-width:300px){
    .index{
        width: 355px;
    }
    .logo{
        width: 30%;
        color: white;
        font-size: 15px;
        letter-spacing: 0.5px;
        cursor: pointer;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 2%;
        padding-left: 2%;
        background-color: #191919;
        border-bottom: 3px solid black;
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding:5px 5px;
    }
    .btn{
        background-color: red;
        color: wheat;
        border: 2px solid white;
        font-weight: bold;
        padding: 3px 9px;
        border-radius: 30px;
        transition: transform .5s;
    }
    nav ul li a{
        color: white;
        font-weight: bold;
        font-size: 10px;
        text-transform: capitalize; 
    }  
    .image {
        width: 50%;
        height: 65%;
        position: absolute;             
        bottom: 0;
        right: 30px;
        transform: rotateY(180d3g);
    }
    .image img{
       
        height: 300px;
        width: 300px;
        margin-bottom: 70px;
        
        opacity: 40%;
            
    }
    h4{
        color: red;
        letter-spacing: 2px;
        font-size: 15px;
    }
    h1{
        color: black;
        font-size: 25px;
        margin: 15px 0 15px;
    }
    h3{
        color: #191919;
        font-size: 15px;
        margin-bottom: 50px;
    }
    .content a {
        font-size: 15px;
        background: red;
        color: black;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 30px;
        border: 2px solid black;
        transition: .5s;
    }
    .about-me{
        width: 550px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
    .about-me img{
        height: auto;
        width: 200px;
        border-radius: 10px;
        border: 2px solid red;
        justify-content: center;
        align-items: center;
    }
    .about-text{
        width: 250px;
    }
    .about-text h2{
        color: #191919;
        font-size: 10px;
        text-transform: capitalize;
        margin-bottom: 20px;
        border-bottom: 5px solid red;
    
    }
    .about-text h5{
        color: #000;
        letter-spacing: 1px;
        font-size: 10px;
        margin-bottom: 25px;
        text-transform: capitalize;
    }
    .about-text p{
        color: black;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 5px;
        margin-bottom: 45px;
        text-align: justify;
    }
    .button{
        background-color: red;
        color: wheat;
        border: 2px solid black;
        font-weight: bold;
        padding: 10px 27px;
        border-radius: 30px;
        transition: .5s;
        font-size: small;
    }
    .button:hover{
        background-color: black;
        border: 2px solid red;
        cursor: pointer;
    }
    nav a{
        font-size: 10px;
        margin-right: 15px;
    }
    .about-me{
        width: 360px;
        justify-content: center;
        display: grid;

        
    }
   
}
